@font-face {
  font-family: "Rokkitt";

  src: url('https://cdn.glitch.com/0337a9ff-22b3-4786-927c-60d314c827be%2FRokkitt-VariableFont_wght.ttf?v=1588648727036');
  font-weight: normal;
  font-style: normal;
}

.acidgreentears {
  display: none;
}

#status {
  position: absolute;
  right: 54px;
  top: 0px;
  font-family: 'Rokkitt';
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #F4F4F4;
  text-align: right;
}

body {
  background: yellow;
  display: flex;
/*   margin-top: 26px; */
  margin: 0px;
  filter: blur(0px);
}

#logo {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 260px;
}

#description {
  font-family: 'Rokkitt';
  font-size: 20px;
  letter-spacing: 0.02em;
  
  position: absolute;
  top: 0px;
  left: 54px;
  color: #F4F4F4;
  text-shadow: 1px 1px 2px #000000;
}

#suggestion {
/*   width: 300px; */
  margin: 0px auto; 
  
  position: absolute;
  top: 400px;
  left: 450px;
  
  font-family: 'Rokkitt';
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #F4F4F4;
}

#fancylinks {
  text-align: right;
  position: absolute;
  top: 560px;
  right: 54px;
  text-shadow: 1px 1px 2px #000000;
}

#fancylinks a {
  color: red;
  line-height: 71.1%;
  font-family: 'Rokkitt';
  font-size: 20px;
  font-weight: 700;
}

#fancylinks a:visited {
  color: red;
}

#start {
  width: 254px;
  position: absolute;
  top: 270px;
  left: 54px;
  background: black;
  color: #F4F4F4; 
  border: 4px red solid;
  font-family: 'Rokkitt';
  font-size: 20px;
  padding: 6px 0px;
  outline: none;
}
